Babel==1.3
Django==1.5
Flask==0.9
Flask-Babel==0.9
Flask-Login==0.2.5
Flask-Mail==0.9.0
Flask-OAuth==0.12
Flask-OpenID==1.1.1
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.4
FormEncode==1.2.6
Jinja2==2.6
PIL==1.1.7
PyRSS2Gen==1.0.0
Pygments==1.6
SQLAlchemy==0.8.2
SQLObject==1.3.2
Scrapy==0.16.5
SimpleCV==1.3
Sphinx==1.2b1
Tempita==0.5.1
Twisted==12.0.0
URLObject==0.5
WTForms==1.0.4
Werkzeug==0.8.3
altgraph==0.9
bdist-mpkg==0.4.4
beautifulsoup4==4.1.3
blinker==1.3
bonjour-py==0.3
bunch==1.0.0
decorator==3.4.0
facebook-sdk==0.4.0
factual-api==1.4.2
googlemaps==1.0.2
gunicorn==18.0
html5lib==1.0b2
httplib2==0.8
ipython==2.0.0-dev
lxml==3.2.3
macholib==1.4.2
matplotlib==1.4.x
modulegraph==0.9.1
mongokit==0.8.3
nose==1.3.0
numpy==1.9.0.dev-c50e60d
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.5.0
pandas==0.12.0-307-g3a2fe0b
patsy==0.2.1
pika==0.9.13
py2app==0.6.3
pyOpenSSL==0.13
pycurl==7.19.0
pyfacegraph==0.0.4
pygame==1.9.2pre
pymc==2.2
pymongo==2.5
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-CalendarStore==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServerNotification==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
pyparsing==1.5.7
python-dateutil==1.5
python-google-places==0.10.1
python-linkedin==2.0
python-openid==2.2.5
pytz==2013b
pyzmq==13.1.0
readline==6.2.4.1
requests==1.1.0
requests-oauthlib==0.3.0
scikit-learn==0.14-git
scipy==0.14.0.dev-2a4ba40
simplejson==2.1.1
six==1.3.0
speaklater==1.3
spynner==2.15
sqlalchemy-migrate==0.7.2
statsmodels==0.6.0
tornado==3.1.1
urlgrabber==3.9.1
urllib3==1.5
vboxapi==1.0
virtualenv==1.9.1
w3lib==1.3
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
